.welcome {
	padding-top: var(--u-10-xs);
	padding-bottom: var(--u-08-l);

	label,
	text {
		line-height: 1;
		text-align: center;

	}

	label {
		font-size: var(--u-08-l);

	}

	text {
		margin-top: var(--u-00-l);
		font-size: var(--strong);
		color: var(--content);

	}

}



.none {
	padding: var(--u-03-xs) 0;
	font-size: var(--strong);
	color: var(--disabled);
	text-align: center;

}

.matrix {
	margin-top: var(--u-01-m);

	.navigator {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: var(--u-01-m);
		background: var(--background);
		border-radius: var(--radius);

		image {
			width: var(--u-10-xs);
			height: var(--u-10-xs);

		}

		text {
			font-size: var(--normal);
			margin-bottom: var(--u-01-m);

		}

	}

}
