.dx-avatar {
	--dx-avatar-radius: 50%;
	--dx-avatar-background-display: none;

	--dx-avatar-image-size: var(--u-06-s);

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--dx-avatar-radius);
	overflow: hidden;
	position: relative;

	&::before,
	&::after {
		content: '';
		width: 100%;
		height: 100%;
		display: var(--dx-avatar-background-display);
		z-index: 0;
		position: absolute;
		left: 0;
		top: 0;
		background-repeat: repeat;
		background-size: 20% 20%;

	}

	&::before {
		background-image: linear-gradient(to bottom right, var(--background) 25%, transparent 25%);

	}

	&::after {
		background-image: linear-gradient(to top left, var(--background) 25%, transparent 25%);

	}

	image {
		height: inherit;
		width: var(--dx-avatar-image-size);
		aspect-ratio: 1 / 1;
		position: relative;
		z-index: 1;

	}

}