.dx-datetime {
	--dx-datetime-justify-content: flex-end;

	display: flex;
	align-items: center;
	justify-content: var(--dx-datetime-justify-content);
	height: var(--label);

	text {
		color: var(--title);
		font-size: var(--strong);

		&.placeholder {
			color: #ccc;

		}

	}

	.icon {
		margin-right: var(--u-00-l);

	}

	picker,
	.picker {
		&:not(:last-child) {
			margin-right: var(--u-01-m);

		}

	}

}