.dx-datetime {
	--dx-datetime-date-picker-grow: 0;
	--dx-datetime-time-picker-grow: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: var(--label);

	text {
		height: var(--label);
		display: flex;
		align-items: center;
		color: var(--title);
		font-size: var(--strong);

		&.placeholder {
			color: #C0C4CC;
			font-size: 32rpx;

		}

		&:nth-child(2) {
			margin-left: var(--u-01-m);

		}

	}

	picker {
		flex-shrink: 0;

		&:not(:last-child) {
			margin-right: var(--u-01-m);

		}

		&.date {
			flex-grow: var(--dx-datetime-date-picker-grow);

		}

		&.time {
			flex-grow: var(--dx-datetime-time-picker-grow);

		}

		text {
			width: 100%;

		}

	}

	.icon {
		flex-shrink: 0;
		margin-left: auto;

	}


}