.dx-header {
	--dx-header-background: none;
	--dx-header-padding: 0;
	--dx-header-top: auto;
	--dx-header-min-height: 32px;
	--dx-header-safe-padding-left: none;
	--dx-header-safe-padding-right: none;


	position: relative;
	background: var(--dx-header-background);
	padding: 0 var(--dx-header-padding);
	padding-top: var(--dx-header-top);
	padding-bottom: var(--u-01-m);
	width: calc(100% - var(--dx-header-padding) * 2);
	min-height: var(--dx-header-min-height);

	.breadcrumb {
		height: 100%;
		align-items: center;

	}

}