@import '../variables.less';

.dx-image-grid {
	display: flex;
	flex-wrap: wrap;

	.box {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: @xs;
	}

	.item {
		flex-shrink: 0;
	}


}
