.dx-inlaid {
	width: 100%;

	.loading,
	.message {
		display: flex;
		justify-content: center;
		padding: var(--u-03-xs) 0;

	}

	.message {
		color: var(--error);
		font-size: var(--normal);

	}


	.legend {
		z-index: 1;
		position: relative;
		transform: translateY(50%);
		display: flex;

	}

}
