.dx-input {
	--dx-input-text-align: right;

	width: 100%;
	height: var(--label);
	line-height: var(--label);
	color: var(--title);
	font-size: var(--strong);
	text-align: var(--dx-input-text-align);
	box-sizing: border-box;
	padding: 0 var(--u-01-xs);
	position: relative;

}