.dx-loading {
	--dx-loading-size: var(--u-03-xs);

	width: var(--dx-loading-size);
	height: var(--dx-loading-size);
	border-radius: 50%;
	animation: circle infinite 1s linear;

	@keyframes circle {
		0% {
			transform: rotate(0deg);

		}

		100% {
			transform: rotate(360deg);

		}

	}



}