@import '../variables.less';

.dx-measurand {
	align-items: center;
	display: inline-flex;
	vertical-align: middle;

	.input {
		flex: 1;
		font-size: 30rpx;
		color: #555;
		text-align: right;
		vertical-align: middle;
		padding: 0rpx 16rpx;
		height: 48rpx;
		white-space: nowrap;
	}

	.picker {
		font-size: 24rpx;
		vertical-align: middle;
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		height: 48rpx;
		width: 48rpx;
		white-space: nowrap;
		background-color: @blue;
		color: white;
		border-radius: 50%;
	}

}
