@import '../style/border.less';

.dx-nameplate {
	--dx-nameplate-margin-top: 0;

	padding: var(--u-02-s);
	margin-top: var(--dx-nameplate-margin-top);
	background: var(--white);
	border-radius: calc(var(--radius) * 2);

	.header {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		position: relative;

		.bottom();

		&::after {
			background: unset;
			background-size: 4px 4px;
			background-repeat: repeat-x;
			background-image: linear-gradient(to right, var(--disabled) 50%, var(--white) 50%);

		}

		.label {
			flex-shrink: 0;
			text-align: right;
			white-space: nowrap;
			margin-left: auto;
			font-size: var(--normal);
			color: var(--aside);
			padding-bottom: var(--u-00-l);


		}


	}

	.loading {
		display: flex;
		justify-content: center;
		padding: var(--u-04-l);

	}


}