@import '../style/border.less';

.dx-number {
	--dx-number-after-background: var(--divider);

	--dx-number-text-color: var(--title);

	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 var(--u-01-xs);
	box-sizing: border-box;
	position: relative;

	.bottom();

	&::after {
		transition: all 0.1s linear;
		background: var(--dx-number-after-background);

	}


	text {
		width: var(--label);
		height: var(--label);
		line-height: var(--label);
		text-align: center;
		font-size: var(--strong);
		font-weight: bold;
		color: var(--dx-number-text-color);

	}

	input {
		flex: 1;
		color: var(--title);
		font-size: var(--strong);
		height: var(--label);
		line-height: var(--label);
		text-align: right;

	}

}