.dx-number {
	--dx-number-text-align: right;

	width: 100%;
	height: var(--label);
	line-height: var(--label);
	color: var(--title);
	font-size: var(--strong);
	text-align: var(--dx-number-text-align);
	box-sizing: border-box;
	padding: 0 var(--u-01-xs);
	position: relative;

}