.dx-operator {
	padding-top: var(--u-02-s);
	padding-bottom: var(--u-10-xs);

	.workshop {
		position: relative;
		padding: 0 var(--u-02-s);

		.operate {
			padding: var(--u-02-s);
			padding-top: var(--u-04-l);
			margin-top: calc(0 - var(--radius) * 2);
			border-radius: calc(var(--radius) * 2);
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			background: var(--white);

		}

		.anchor {
			--dx-operator-anchor-offset: 0;

			position: absolute;
			width: 0;
			height: 0;
			top: var(--dx-operator-anchor-offset);
			left: 0;

		}

	}


	.loading,
	.submit {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: var(--u-06-s);

	}

	.submit {
		transition: background 0.217s;
		background: var(--h-de-00);
		border-radius: var(--u-01-xs);
		color: var(--white);
		font-size: calc(var(--normal) + var(--u-00-s));

	}

}