@import '../variables.less';

.dx-radio {
	align-items: center;
	background: white;
	display: inline-flex;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 0;


	.label {
		white-space: nowrap;
		border: solid 1rpx @border;
		box-sizing: border-box;
		display: inline-flex;
		align-items: center;
		position: relative;
		margin-top: 2rpx;
		margin-bottom: 2rpx;
		margin-left: -1px;
		font-size: @sm;


		&:first-child {
			border-top-left-radius: @radius;
			border-bottom-left-radius: @radius;
			margin-left: 0;
		}

		&:last-child {
			border-top-right-radius: @radius;
			border-bottom-right-radius: @radius;
		}

		&.checked {
			z-index: 3;
			border-color: @sub;
			background: @sub;
			color: white;
		}

		&.disabled {
			z-index: 1;
			border-color: @border;
			background: #f7f7f7;
			color: #ccc;

			&.disabled {
				z-index: 1;
				border-color: @border  !important;
				background: #e6e6e6 !important;
				color: white !important;
			}

		}


	}


	&.primary {
		.checked {
			border-color: @primary;
			background: @primary;
			color: white;
		}

	}

	&.light-primary {
		.checked {
			border-color: @light-primary;
			background: @light-primary;
			color: white;
		}

	}

	&.dark-primary {
		.checked {
			border-color: @dark-primary;
			background: @dark-primary;
			color: white;
		}

	}

	&.info {
		.checked {
			border-color: @info;
			background: @info;
			color: white;
		}

	}

	&.success {
		.checked {
			border-color: @success;
			background: @success;
			color: white;
		}

	}

	&.warning {
		.checked {
			border-color: @warning;
			background: @warning;
			color: white;
		}

	}

	&.error {
		.checked {
			border-color: @error;
			background: @error;
			color: white;
		}

	}

	&.xs {
		.label {
			padding: 4rpx 8rpx;
		}

	}

	&.sm {
		.label {
			padding: 8rpx 16rpx;
		}

	}

	&.md {
		.label {
			padding: 12rpx 24rpx;
		}

	}

	&.lg {
		.label {
			padding: 16rpx 32rpx;
		}

	}


}
