.dx-search {
	display: flex;
	align-items: center;

	.enter {
		flex: 1;
		display: flex;
		align-items: center;
		padding: var(--u-00-s) var(--u-02-s);
		border-radius: calc(var(--label) + var(--u-00-s) * 2);
		background: var(--background);

		.icon {
			flex-shrink: 0;
			margin-right: var(--u-00-l);

		}

		.input {
			flex: 1;
			display: flex;
			font-size: var(--strong);
			height: var(--label);
			line-height: var(--label);

		}



	}


	.handle {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: var(--u-01-m);
		background: var(--background);
		width: var(--label);
		height: var(--label);
		padding: var(--u-00-s);
		border-radius: 50%;

	}





}