@import '../style/border.less';

.dx-textarea {
	--dx-textarea-after-background: var(--divider);

	width: 100%;
	color: var(--title);
	font-size: var(--strong);
	background: var(--background);
	border-radius: var(--radius);
	box-sizing: border-box;
	padding: var(--u-01-xs);
	position: relative;

	.bottom();

	&::after {
		transition: all 0.1s linear;
		background: var(--dx-textarea-after-background);

	}


}
