.dx-textarea {
	--dx-textarea-padding: 0 var(--u-01-xs);

	width: 100%;
	color: var(--title);
	font-size: var(--strong);
	box-sizing: border-box;
	line-height: var(--label);
	padding: var(--dx-textarea-padding);
	position: relative;

}