.dx-turnstile {
	--dx-turnstile-justify-content: flex-end;
	--dx-turnstile-padding: 0 var(--u-01-xs);


	width: 100%;
	display: flex;
	justify-content: var(--dx-turnstile-justify-content);
	box-sizing: border-box;
	padding: var(--dx-turnstile-padding);
	position: relative;

	text {
		color: var(--title);
		font-size: var(--strong);
		line-height: var(--label);

		&.placeholder {
			color: var(--placeholder);
			font-size: var(--normal);

		}

	}

	.icon {
		flex-shrink: 0;

	}



}