.dx-turnstile {
	--dx-turnstile-justify-content: flex-end;


	width: 100%;
	height: var(--label);
	display: flex;
	justify-content: var(--dx-turnstile-justify-content);
	position: relative;

	text {
		height: 100%;
		line-height: var(--label);
		font-size: var(--strong);
		color: var(--title);
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		&.placeholder {
			color: var(--aside);

		}

	}

	.icon {
		flex-shrink: 0;

	}



}