.dx-turnstile {
	--dx-turnstile-justify-content: flex-end;


	width: 100%;
	height: var(--label);
	display: flex;
	align-items: center;
	justify-content: var(--dx-turnstile-justify-content);
	box-sizing: border-box;
	padding: 0 var(--u-01-xs);
	position: relative;

	text {
		color: var(--title);
		font-size: var(--strong);
		line-height: var(--label);

		&.placeholder {
			color: var(--placeholder);
			font-size: var(--normal);

		}

	}



}