@black: #000000;
@blue: #0081ff;
@brown: #a5673f;
@cyan: #1cbbb4;
@green: #19be6b;
@grey: #c5c8ce;
@mauve: #9c26b0;
@olive: #8dc63f;
@orange: #ff9900;
@pink: #e03997;
@purple: #6739b6;
@red: #f43048;
@white: #ffffff;
@yellow: #fbbd08;

@linear-blue: linear-gradient(#6cb5ff, #0081ff);
@linear-brown: linear-gradient(#e7ac85, #a5673f);
@linear-cyan: linear-gradient(#4af3eb, #1cbbb4);
@linear-green: linear-gradient(#41ec96, #19be6b);
@linear-mauve: linear-gradient(#de83ee, #9c26b0);
@linear-olive: linear-gradient(#b3e968, #8dc63f);
@linear-orange: linear-gradient(#fdc571, #ff9900);
@linear-pink: linear-gradient(#ff6dc0, #e03997);
@linear-purple: linear-gradient(#9766ec, #6739b6);
@linear-red: linear-gradient(#f87080, #f43048);
@linear-yellow: linear-gradient(#f8d56d, #fbbd08);

@title: #162448;
@content: #515a6e;
@notice: #808695;
@aside: #c0c4cc;
@placeholder: #dcdee2;

@border: #e8eaec;
@divider: #b1b2b8;
@disabled: #c5c8ce;

@background: #f8f8f8;




page {
	--black: @black;
	--blue: @blue;
	--brown: @brown;
	--cyan: @cyan;
	--green: @green;
	--grey: @grey;
	--mauve: @mauve;
	--olive: @olive;
	--orange: @orange;
	--pink: @pink;
	--purple: @purple;
	--red: @red;
	--white: @white;
	--yellow: @yellow;

	--linear-blue: @linear-blue;
	--linear-brown: @linear-brown;
	--linear-cyan: @linear-cyan;
	--linear-green: @linear-green;
	--linear-mauve: @linear-mauve;
	--linear-olive: @linear-olive;
	--linear-orange: @linear-orange;
	--linear-pink: @linear-pink;
	--linear-purple: @linear-purple;
	--linear-red: @linear-red;
	--linear-yellow: @linear-yellow;

	--active: @purple;
	--success: @green;
	--warning: @orange;
	--error: @red;

	--light-active: lighten(@purple, 10%);
	--light-success: lighten(@green, 10%);
	--light-warning: lighten(@orange, 10%);
	--light-error: lighten(@red, 10%);

	--dark-active: darken(@purple, 10%);
	--dark-success: darken(@green, 10%);
	--dark-warning: darken(@orange, 10%);
	--dark-error: darken(@red, 10%);

	--title: @title;
	--content: @content;
	--notice: @notice;
	--aside: @aside;
	--placeholder: @placeholder;

	--light-title: lighten(@title, 10%);
	--light-content: lighten(@content, 10%);
	--light-notice: lighten(@notice, 10%);
	--light-aside: lighten(@aside, 10%);
	--light-placeholder: lighten(@placeholder, 10%);

	--border: @border;
	--divider: @divider;
	--disabled: @disabled;

	--background: @background;

	// hue circle
	// angle: a|b|c|d|e
	// level: 255
	--h-ab-00: var(--red);
	--h-bc-00: var(--yellow);
	--h-cd-00: var(--green);
	--h-de-00: var(--blue);
	--h-ea-00: var(--purple);

	// xs|s|m|l|xl|xxl
	--u-00-s: 4rpx;
	--u-00-l: 8rpx;
	--u-01-xs: 12rpx;
	--u-01-s: 14rpx;
	--u-01-m: 16rpx;
	--u-02-xs: 20rpx;
	--u-02-s: 24rpx;
	--u-03-xs: 32rpx;
	--u-04-xs: 40rpx;
	--u-04-l: 48rpx;
	--u-05-m: 56rpx;
	--u-06-s: 64rpx;
	--u-08-l: 88rpx;
	--u-10-xs: 128rpx;
	--u-10-m: 156rpx;
	--u-10-l: 176rpx;

	--small: 20rpx;
	--normal: 24rpx;
	--strong: 32rpx;

	--label: 56rpx;

	--radius: 6rpx;

	--popup: rgba(0, 0, 0, 0.1);

}


page {
	font-size: 0;
	color: var(--title);
	line-height: 1;

}