@red: #f43048;
@orange: #ff9900;
@yellow: #fbbd08;
@olive: #8dc63f;
@green: #19be6b;
@cyan: #1cbbb4;
@blue: #0081ff;
@purple: #6739b6;
@mauve: #9c26b0;
@pink: #e03997;
@brown: #a5673f;
@grey: #c5c8ce;

@linear-red: linear-gradient(#f87080, #f43048);
@linear-orange: linear-gradient(#fdc571, #ff9900);
@linear-yellow: linear-gradient(#f8d56d, #fbbd08);
@linear-olive: linear-gradient(#b3e968, #8dc63f);
@linear-green: linear-gradient(#41ec96, #19be6b);
@linear-cyan: linear-gradient(#4af3eb, #1cbbb4);
@linear-blue: linear-gradient(#6cb5ff, #0081ff);
@linear-purple: linear-gradient(#9766ec, #6739b6);
@linear-mauve: linear-gradient(#de83ee, #9c26b0);
@linear-pink: linear-gradient(#ff6dc0, #e03997);
@linear-brown: linear-gradient(#e7ac85, #a5673f);


@primary: #0081ff;
@light-primary: #5cadff;
@dark-primary: #2b85e4;

@info: #2db7f5;
@success: #19be6b;
@warning: #ff9900;
@error: #f43048;

@title: #17233d;
@content: #515a6e;
@sub: #808695;
@disabled: #c5c8ce;
@border: #dcdee2;
@divider: #e8eaec;
@background: #f8f8f8;

@s: 8rpx;
@xs: 14rpx;
@sm: 24rpx;
@md: 30rpx;
@lg: 38rpx;
@xl: 48rpx;
@xxl: 60rpx;
@xxxl: 78rpx;
@xxxxl: 96rpx;
@xxxxxl: 128rpx;
@xxxxxxl: 178rpx;

@radius: 6rpx;

@popup: rgba(0, 0, 0, 0.4);
@shadow: 0 0 4px @popup;
